# R created files

*.Rproj

*.Rproj.user

*.Rhistory

*.RData

*.Ruserdata

*.history



# Image/output files unless otherwise specified

*.pdf

*.png

*.docx

*.doc

*.jpg

*.gif


# Misc Knit Files

*.aux

*.gz

*.log

*.rdx

*.rdb

*.knit.md

*cache



# Other

packrat/lib*/

packrat/src*/

*.httr-oauth

*.DS_Store



# MTurk credentials and data

auth.json

my-sandbox-auth.json

my-own-auth.json

settings.json


mturk/mturk_fillersettings

data/

mturk/aws-mturk-clt-1.3.3/
mturk/jdk1.8.0_121/

mturk_fillersettings.csv

analysis/anonymized-IDs-key.csv


#Raw Data Files
*.csv


#Exceptions

!README.md

!original_paper/DS_10%2E1177_0956797613475456.pdf

!original_paper/Kron_2013.pdf

!normativeIAPSratings.csv

!analysis/preprocessed_data.R
